@import "tailwindcss";

:root {
  color: #ffffff;
}

@theme {
  --font-grotesk: var(--font-grotesk);
  --color-midnight: #141414;
  --color-black: #0d0d0d;
  --color-accent: #ff9ccc;
  --color-secondary: #a66ade;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
}

@layer components {
  .gradient {
    @apply bg-linear-150 from-accent to-secondary;
  }

  .button {
    @apply py-2 px-4 rounded-md flex w-fit transition-all duration-150;
  }

  .hollow {
    @apply border border-accent bg-transparent hover:bg-accent;
  }

  .navlink {
    @apply font-normal h-full w-fit transition-all duration-100 rounded-md py-2 px-4 hover:bg-black/20 relative;
  }

  .text-gradient {
    @apply bg-linear-150 from-accent to-secondary bg-clip-text text-transparent inline-block;
  }
}
