@import "tailwindcss";

:root {
  color: #294e56;
}

@theme {
  --font-grotesk: var(--font-grotesk);
  --color-midnight: #13162a;
  --color-lilac: #8086ae;
  --color-lavender: #8cffda;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
}

@layer components {
  .button {
  }

  .navlink {
    @apply font-medium h-full aspect-square transition-all duration-100 rounded-md p-2 hover:bg-black/20 relative;
  }
}
