@import "tailwindcss";

:root {
  color: #d6d6d6;
}

@theme {
  --font-mulish: var(--font-mulish);

  --color-salmon: #F58F7C;
  --color-pink: #F2C4CE;
  --color-gray: #D6D6D6;
  --color-pewter: #4F4F51;
  --color-gunmetal: #2C2B30;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
}

@layer components {
  .dark-gradient {
    @apply bg-linear-to-tl from-gunmetal to-pewter;
  }

  .gray-gradient {

  }

  .pink-gradient {
    @apply bg-linear-to-tl from-salmon to-pink;
  }

  .button {

  }

  .navlink {
    @apply font-medium h-full aspect-square transition-all duration-100 rounded-md p-2 hover:bg-gunmetal/20;
  }
}